/* Gaon.css */
.gaon-container {
  margin: 0;
  display: flex;  
  background: url(../image/2024gaon_Lback.png) repeat ;
  flex-direction: column;  
  background-size: cover;
  align-items: center;  
  width: 100%;
}

.gaon-title {
  font-size: 100px;
  color: #000;
  margin: 20px 0 10px;
}

.gaon-subtitle {
  font-size: 24px;
  color: #555;
  margin: 5px 0;
}
.intro-image {
  width: 600px;
  display: flex;
  margin: center;
}
.procedure-image{
  margin-top: 50px;
  width: 550px;

  display: flex;
  margin: center;
}

.gaon-description {
  font-size: 30px;
  color: #333;
  margin: 5px 0;
}

.title-image {
  width: 350px; /* 이미지 너비 설정 */
  margin: 0 center; /* 가운데 정렬 */
  display: flex;
}
