/* Home.css */
.body {  
  margin: 0;
  display: flex;  
  background: url(../image/2024gaon_Lback.png) repeat ;
  flex-direction: column;  
  background-size: cover;
  align-items: center;  
  width: 100%;
  overflow: hidden; /* 스크롤 방지 */
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title-image {  
  width: 500px;  
  margin: 30px auto;
  margin-top: 100px;
}
.slogan-image {
  margin-top: 50px;
  width: 500px;
  display: flex;
  margin: center;
}
.intro-image {
  width: 900px;
  display: flex;
  margin: center;
}


/* Button icon styling */
.button-image1 {  
  margin-top: 50px;
  cursor: pointer;
  width: 45%;
}
.button-image2 {  
  margin-top: 100px;
  cursor: pointer;
  width: 45%; /* Ensure the icon fills the button width */
}
.button-image3 {  
  margin-top: 100px;
  cursor: pointer;
  width: 45%; /* Ensure the icon fills the button width */
  margin-bottom: 225px;
}
