/* Home.css */
.body {  
  margin: 0;
  display: flex;  
  background: url(../image/가온제\ 배경.png) no-repeat top center;
  flex-direction: column;  
  background-size: contain;
  align-items: center;  
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title-image {  
  width: 350px;  
  margin: 30px auto;
}

.intro-image {
  width: 600px;
  display: flex;
  margin: center;
}


/* Button icon styling */
.button-image1 {  
  cursor: pointer;
  width: 40%;
}
.button-image2 {  
  cursor: pointer;
  width: 40%; /* Ensure the icon fills the button width */
}
.button-image3 {  
  cursor: pointer;
  width: 40%; /* Ensure the icon fills the button width */
}
