/* App.css */
.container {
  margin: 0;
  display: flex;  
  background: url(../image/가온제\ 배경.png) no-repeat top center;
  flex-direction: column;  
  background-size: contain;
  align-items: center;  
  width: 100%;
  }
  
  
  .small-text {
    font-size: 10px;
    margin: 5px 0;
    color: #333;
  }
  
  .title {
    font-size: 24px;
    margin: 10px 0;
    color: #000;
  }
  
  .form-container {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    
  }
  
  .label {
    font-size: 10px;
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    color: #555;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  .input1 {
    width: 100%;
    height:  60px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  .title-image {
    width: 350px; /* 이미지 너비 설정 */
    margin: 0 center; /* 가운데 정렬 */
    display: flex;
  }
  .slogan-image {
    width: 350px;
    display: flex;
    margin: center;
  }
  .intro-image {
    width: 600px;
    display: flex;
    margin: center;
  }
  .swal-modal {
    font-family: 'DungGeunMo'; 
    font-size: 21px; 
}

  .swal-button {
    font-family: 'DungGeunMo';
    font-size: 16px; 

}
  @font-face {
    font-family: 'Yoonwoo';
    src: url('/src/fonts/Yoonwoo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DungGeunMo';
    src: url('/src/fonts/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
