/* App.css */
.container {
  margin: 0;
  display: flex;  
  background: url(../image/2024gaon_Lback.png) repeat ;
  flex-direction: column;  
  background-size: cover;
  align-items: center;  
  width: 100%;
  }
  
  .form-container {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    margin: center;
    margin-right: 180px;
    
  }
  
  .label {
    font-size: 10px;
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    color: #555;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  .input1 {
    width: 100%;
    height:  60px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  .title-image {
    width: 600px; /* 이미지 너비 설정 */
    margin: 0 center; /* 가운데 정렬 */
    display: flex;
  }
  .slogan-image {
    width: 500px;
    display: flex;
    margin: center;
  }
  .intro-image {
    margin-top: 50px;
    margin-bottom: 200px;
    width: 95%;
    display: flex;
    margin: center;
    
  }
  .swal-modal,
  .Swal-modal {
    font-family: 'DungGeunMo'; 
    font-size: 27px; 
}
  .swal-button,
  .Swal-modal {
    font-family: 'DungGeunMo';
    font-size: 25px; 

}
.button{
  margin-bottom: 300px;
}
.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}
  @font-face {
    font-family: 'Yoonwoo';
    src: url('/src/fonts/Yoonwoo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DungGeunMo';
    src: url('/src/fonts/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
